:root{
    background-color: #BEA6DD;
    font-family: 'Poppins', sans-serif;
}

::selection{
    background-color: #331563;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1{
    padding-top: 20px;
    font-size: 4em;
    font-weight: bolder;
    color: #25153a;
}

.container{
    max-width: 100vw;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 30px;
}

.content{
    min-height: 30vh;
    max-height: 60vh;
    min-width: 30vw;
    background-color: rgba(82, 60, 129, 0.22);
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 6px 7px 15px 2px rgba(103, 83, 128, 0.715);
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
    padding: 30px;
    font-size: 1.6em;
    color: #f7f1ff;
    font-weight: 400;
}

.inputs > label{
    margin-bottom: -10px;
}

.inputs > input{
    width: 65%;
    background-color: transparent;
    border: none;
    border-bottom: .2em solid white;
    outline: none;
    padding: .6em;
    text-align: center;
    font-size: .7em;
    color: #f7f1ff;
}

.btn{
    min-width: 55%;
    padding: 5px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 17pt;
    background-color: #582E9B;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #f7f1ff;
}

.resultado{
    min-height: 60vh;
    min-width: 30vw;
    background-color: rgba(82, 60, 129, 0.22);
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 6px 7px 15px 2px rgba(103, 83, 128, 0.715);
}

.result_content{
    padding: 20px;
    color: #f7f1ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.result_content > p{
    width: 100%;
    font-size: 1.7em;
    border-bottom: 2px solid white;
}

#res{
    font-size: 1.3em;
    text-align: left;
}
