@media screen and (max-width:768px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content{
        margin-bottom: 10%;
    }
}
@media screen and (max-width:358px) {
    .content{
        font-size: .8em;
    }
}
